[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/libAudio"]
	path = lib/libAudio
	url = https://github.com/ColinPlatt/libAudio
[submodule "lib/ethers.sol"]
	path = lib/ethers.sol
	url = https://github.com/ColinPlatt/ethers.sol
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Transmissions11/solmate
